.idea/*
ctpn_tensorflow/*
ctpn_new/dataset/*
ctpn_new/.idea/*
ctpn_new/**/__pycache__/*.pyc
ctpn_new/analysis/tmp/*
ctpn_new/analysis/.ipynb_checkpoints/*
ctpn_new/analysis/features.pkl
ctpn_new/checkpoints/*

